* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: arial;
}

ul {
	list-style: none;
}

#plateau {
	display: flex;
	background: url("../medias/images/table.png");
	background-size: contain;
    background-repeat: no-repeat;
	min-height: 1200px;
	max-height: 1200px;
	align-items: center;
    justify-content: center;
}

#cartes_communes {
	display: flex;
	flex: 1;
	max-width: 540px;
	justify-content: center;
}

#pioche {
	border-color: green;
}

#tas {
	border-color: orange;
}

#pioche, #tas {
	width: 220px;
	border-width: 4px;
	border-style: dashed;
	height: 320px;
}

#logo {
	max-width: 120px;
}

#avatars {
	display: flex;
	flex-wrap: wrap;
	max-width: 33%;
}

#avatars li {
	cursor: pointer;
	max-width: 64px;
	border: 2px solid transparent;
}
#avatars img {
	pointer-events: none;
}

#avatars li:hover, #avatars li.active {
	border: 2px solid orange;
}

#avatars img{
	max-width: inherit;
}