#plateau {
	display: flex;

}

#cartes_communes {
	display: flex;
	flex: 1;
	max-width: 540px;
	justify-content: center;
}

#pioche {
	border-color: green;
}

#tas {
	border-color: orange;
}

#pioche, #tas {
	width: 220px;
	border-width: 4px;
	border-style: dashed;
	height: 320px;
}
